.search--page {
	padding: 0 4%;
	max-width: 100%;
}
.search--page h1 {
	color: whitesmoke;
	font-size: 70px;
	font-weight: 200;
}
.search--page input {
	background: transparent;
	display: block;
	margin: auto;
	border: 2px solid whitesmoke;
	border-radius: 30px;
	font-size: 30px;
	color: whitesmoke;
	width: 50%;
	text-align: center;
	padding: 5px;
	height: 60px;
	outline: none;
	padding-left: 30px;
}
.search--page input:focus {
	border: 2px solid rgb(115, 115, 115);
	transition: all 0.3s;
}
