.<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-12 col-md-10 text-white">
            <video [src]="API_URL + video.url" width="100%" controls="true"></video>

            <div class="video--info">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h3>{{video.title}}</h3>
                        <small>{{video.views}} Views</small>
                    </div>
                    <em>{{video.createdAt.toLocaleDateString()}}</em>
                </div>

                <a class="video--owner" [routerLink]="['/user',video.user._id]">
                    <img [src]="API_URL + video.user.imageUrl">
                    <h4>{{video.user.name}}</h4>
                </a>
            </div>

            <div class="tabs--list">
                <a class="tabs--item" [ngClass]="{'active':!showComments}"
                    (click)="toggleComments(false)">Description</a>
                <a class="tabs--item" [ngClass]="{'active':showComments}" (click)="toggleComments(true)">Comments</a>
            </div>
            <div class="tabss--data ">
                <div class="video--desc" *ngIf="!showComments">
                    <p>
                        {{video.description}}
                    </p>
                </div>
                <div class="video--comments" *ngIf="showComments">
                    <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                        <input class="add--comment" type="text" placeholder="  Add comment" formControlName="comment">
                        <div class="comment--btn">
                            <button class="btn btn-outline-danger btn-lg px-3" type="submit"
                                [disabled]="!commentForm.valid">Comment</button>
                        </div>
                    </form>
                    <div class="list-group" *ngFor="let comment of video.comments">
                        <app-comment [comment]="comment"></app-comment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>