<div class="container py-3 position-relative">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white" style="border-radius: 1rem;" [ngClass]="{'flip':isLogin}">
                <div class="card-body p-5 text-center">
                    <div class="card-front px-5 py-2">
                        <app-signup-form></app-signup-form>
                    </div>
                    <div class="card-back p-5">
                        <app-login-form></app-login-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success w-25 text-center position-fixed top-0 end-0" *ngIf="hasSignedUp">
        <strong>Signup Successfull Login to proceed</strong>
    </div>
    <div class="alert alert-danger w-25 text-center position-fixed top-0 end-0" *ngIf="errorMsg">
        <strong>{{errorMsg}}</strong>
    </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>