<div class="container py-3 ">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white" style="border-radius: 1rem;" [ngClass]="{'flip':isLogin}">
                <div class="card-body p-5 text-center">
                    <div class="card-front p-5">
                        <div class="mb-md-5 mt-md-4 pb-2">
                            <h2 class="fw-bold mb-5">SIGNUP</h2>
                            <form>
                                <div class="form-outline form-white mb-3">
                                    <input type="email" id="email" class=" form-control form-control-lg" />
                                    <label class="form-label" for="email">Email</label>
                                </div>

                                <div class="form-outline form-white mb-3">
                                    <input type="password" id="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <div class="form-outline form-white mb-3">
                                    <input type="password" id="cnfm-pass" class="form-control form-control-lg" />
                                    <label class="form-label" for="cnfm-pass">Confirm Password</label>
                                </div>
                                <button class="btn btn-outline-danger btn-lg px-5" type="submit">Signup</button>
                            </form>
                        </div>
                        <div>
                            <p class="mb-0">
                                Already have an account?
                                <a (click)="switchMode()" class="text-white-50 fw-bold" style="cursor: pointer;">
                                    Login</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-back p-5">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-5">LOGIN</h2>
                            <form>
                                <div class="form-outline form-white mb-3">
                                    <input type="email" id="email" class="form-control form-control-lg" />
                                    <label class="form-label" for="email">Email</label>
                                </div>

                                <div class="form-outline form-white mb-3">
                                    <input type="password" id="password" class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <p class="small mb-4 pb-lg-2">
                                    <a class="text-white-50" style="cursor: pointer;">Forgot password?</a>
                                </p>

                                <button class="btn btn-outline-danger btn-lg px-5" type="submit">Login</button>
                            </form>
                        </div>
                        <div>
                            <p class="mb-0">
                                Don't have an account?
                                <a (click)="switchMode()" class="text-white-50 fw-bold" style="cursor: pointer;">
                                    Signup</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>