.main--container {
	display: flex;
}
.sideNav {
	background: #181818;
	color: wheat;
	width: 60px;
	height: 100vh;
	position: sticky;
	top: 0;
	/* bottom: 0; */
}
.main-area {
	/* max-width: calc(100vw - 60px); */
	padding: 20px 0;
	flex: 1;
}
