.nav--logo {
	margin-top: 5vh;
	padding: 0 10%;
}
.logo {
	max-width: 100%;
}
.nav--list {
	margin-top: 6vh;
	list-style: none;
	padding: 0;
}
.nav--items > a {
	display: block;
	cursor: pointer;
	width: 100%;
	padding: 3vh 0;
	text-align: center;
	color: #686868;
}
/* 2 diiferent types of svgs used so different rules to have consistency in styles */
.nav--items > a:hover path:first-of-type {
	fill: rgb(240, 240, 240);
	stroke: rgb(240, 240, 240);
}
.nav--list .nav--items:last-of-type > a:hover path {
	stroke: rgb(240, 240, 240);
	fill: none;
}
.nav--items > a > svg {
	margin: 0 auto;
	display: block;
}

.nav--profile {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.nav--profile > .nav--items > a:hover {
	color: #f0f0f0;
}
.nav--items.nav--item--active > a path:first-of-type {
	fill: #fe0000;
	stroke: #fe0000;
	/* fill: rgb(240, 240, 240);
	stroke: rgb(240, 240, 240); */
}
.nav--items:last-of-type.nav--item--active > a path {
	stroke: #fe0000;
	/* stroke: rgb(240, 240, 240); */
	fill: none;
}
.nav--item--active {
	background: #272727;
}
