.search--page {
	padding: 0 4%;
	max-width: 100%;
	overscroll-behavior: none;
}
.search--page h1 {
	color: whitesmoke;
	font-size: 70px;
	font-weight: 200;
}

@keyframes slideIn {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.vid--list {
	animation: slideIn 0.3s ease-out 0s 1;
}
